.blog{
    padding-bottom: 150px;

    &__items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-bottom: 70px;
    }



    &__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-img{
            margin-bottom: 30px;
            width: 100%;
        }

        &-title{
            flex-basis: 446px;
            font-size: 24px;
            font-weight: 700;
        }

        &-link{
            color: #fff;
            background-color: #0066FF;
            padding: 4px 20px;
        }
    }


}


.showmore__link{
    text-transform: uppercase;
    background-color: #151515;
    padding: 13px;
    color: #fff;
    width: 225px;
    margin:  0 auto;
    text-align: center;
    display: block;
    box-sizing: border-box;
}