.choose-cars{
    padding: 100px 0 150px;

    .tabs{
        padding-bottom: 70px;
    }

    .tabs__btn{
        padding: 0 150px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        
        &-item{
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
            border: none;
            background-color: transparent;
            padding: 0;

            &--active{
                color: #0066ff;
            }
        }
    }

    .tabs__content{
        &-item{
            display: none;
            
            grid-template-columns: repeat(4,1fr);
            gap: 100px 40px;
            // margin-bottom: 100px;

            &--active{
                display: grid;
            }
        }
        
        
    }

    .card{
        text-align: center;
        &__content{
            padding: 0 5px;
            border: 1px solid #0066ff;
            border-top: 0;
            max-width: 270px;
            box-sizing: border-box;
            
        }

        &__img{
            display: block;
            width: 100%;
            
        }
        &__title{
            padding-top: 20px;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__price{
            
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 24px;
        }
        
        &__link{
            
            display: block;
            color: #0066ff;
            border: 1px solid #0066ff;
            border-top: 0;
            max-width: 270px;
            box-sizing: border-box;
            
        }

        &__text{
            margin-bottom: 20px;
        }
    }
}

@media (max-width:1180px){
    .choose-cars{
        .tabs__content{
            &-item{
                grid-template-columns: repeat(3,1fr);
            }
        }

        .card{
            &__content{
                max-width: 354.4px;
            }

            &__link{
                max-width: 354.4px;
            }
        }
    }
}

@media (max-width:1040px){
    .choose-cars{
        .tabs__btn{
            padding: 0 0 50px;
            gap: 20px;
        }
    }
}

@media (max-width:860px){
    .choose-cars{
        .tabs__content{
            &-item{
                grid-template-columns: repeat(2,1fr);
            }
        }

        .card{
            &__content{
                max-width: 391.6px;
            }

            &__link{
                max-width: 391.6px;
            }
        }
    }    
}

@media (max-width:650px){
    .choose-cars{
        .tabs__content{
            &-item{
                grid-template-columns: repeat(1,1fr);
            }
        }
        .card{
            &__content{
                max-width: 629.6px;
            }
    
            &__link{
                max-width: 629.6px;
            }
        }
        .tabs__btn{
            &-item{
                font-size: 18px;
            }
        }
    }
}

@media (max-width:540px){
    .choose-cars{
        padding: 50px 0;
        .tabs__btn{
            flex-direction: column;
        }

        .tabs__content{
            &-item{
                gap: 40px;
               
            }
        }    
    }
}
