.header{
    background-color: #151515;
    &__inner{
        padding-top:40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 45px;
    }

    &-main{
        background-color: transparent;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
    }


    .menu{

        &__btn{
            
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            border:none;
            background-color: transparent;
            cursor: pointer;
            display: none;
            span{
                height: 2px;
                background-color: #fff;
                width: 100%;
            }
        }

        &__list{
            display: flex;
            gap: 35px;

            &-link{
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
            }
            &-link--active{
                color: #0066FF;
            }
        }

    }

}

@media (max-width:860px){
    .header{
        .logo{
            position: relative;
            z-index: 10;
        }
        .menu{
            &__btn{
                display: flex;
                position: relative;
                z-index: 10;
                
            }

            

            &__list{
                position: absolute;
                z-index: 5;
                background-color: #151515;
                flex-direction: column;
                align-items: center;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-top: 200px;
                height: 100vh;
                transform: translateY(-100%);
                transition: transform .3s ease;

                &--active{
                    transform: translateY(0);
                }
            }
        }
    }
}

