.how-does{
    padding-bottom: 150px;

    &__inner{
        max-width: 600px;
        margin: 0 auto;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
        padding-top: 50px;
    }

    &__list{
        padding: 50px 0 70px;
        counter-reset: myCounter;
    }

    &__item{
        list-style-type: none;
        width: 270px;
        position: relative;
        margin-left: auto;
        min-height: 63px;
        padding: 19px 0 19px 240px;
    }

    &__item::before{
        counter-increment: myCounter;
        content: counter(myCounter);
        display: inline-block;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        background-color: #06F;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color:#fff;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__item + &__item{
        margin-top: 40px;
    }
    
}

@media (max-width:540px){
    .how-does{
        padding-bottom: 50px;
        &__list{
            padding: 30px 0 40px;
        }
        &__item{
            padding: 65px 0 19px 0;
            margin-right: auto;
        }
        &__item::before{
            right: 0;
            margin: 0 auto;
            width: 50px;
            height: 50px;
            font-size: 32px;
        }
    }
}