.important{
    padding-bottom: 150px;

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        margin: 0 auto 50px;
        max-width: 580px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
    }

    &__item{
        &-img{
            margin-bottom: 20px;
        }
    }
}