.important{
    padding-bottom: 150px;

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        margin: 0 auto 50px;
        max-width: 580px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
    }

    &__item{
        &-img{
            margin-bottom: 20px;
        }
    }
}

@media (max-width:1180px){
    .important{
        &__list{
            gap: 30px 20px;
        }

        &__item{
            &-img{
                width: 100%;
            }
        }
    }
}

@media (max-width:860px){
    .important{
        &__list{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media (max-width:540px){
    .important{
        padding-bottom: 50px;
        &__list{
            grid-template-columns: repeat(1,1fr);
        }
    }
}