.video{
    padding-bottom: 150px;

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }

    &__content{
        margin: 0 auto;
        display: block;
    }
}